<div class="contenedor">
  <img src="assets/imagenes/safa.png" class="logo">
  <div class="contenedor-login">
    <h2>¡Bienvenido al Puzzle!</h2>
    <input type="text" [(ngModel)]="nombreUsuario" placeholder="Escribe tu nombre" class="entrada-usuario"/>
    <button (click)="iniciarJuego()" class="boton-iniciar">Iniciar</button>
    <p *ngIf="mostrarError" class="mensaje-error">Por favor, ingrese un nombre de usuario.</p>
  </div>
  <p class="firma">Desarrollado por Ángel Medinilla Andrada - 2ºDAM</p>
</div>
